# List all Python package requirements this project has.
#
# more details: http://www.pip-installer.org/en/latest/requirements.html

lxml

### General useful bits
PyYAML
psycopg2

### Django related
Django
South
# django-qmethod
# Only for debugging, but very useful and easiest to just have it here
django-debug-toolbar

# Celery
# celery
# django-celery

# Testing
selenium
mock

pyelasticsearch
django-haystack

# mySociety modules
popit-django==0.0.3

# We use nose to run the tests, which gets around various limitations
# with the built-in test runner:
django-nose==1.2
