# List all Python package requirements this project has.
#
# more details: http://www.pip-installer.org/en/latest/requirements.html

lxml

### General useful bits
PyYAML
psycopg2

### Django related
Django
South
django-tastypie
# django-qmethod
# Only for debugging, but very useful and easiest to just have it here
django-debug-toolbar

# Celery
# celery
# django-celery

# Testing
selenium
mock

### Xapian is a full text search engine, and haystack a django interface to it.
### If you want to use this uncomment below, and probably add the
### '--enable-site-packages' argument to the pip install command in
### 'post_deploy_actions.bash'
# xapian-haystack
### NB: trying elasticsearch instead, as per Matthew
pyelasticsearch
django-haystack

# mySociety modules
-e git+https://github.com/mysociety/popit-django#egg=popit-django

# We use nose to run the tests, which gets around various limitations
# with the built-in test runner:
# django-nose==1.1
# https://github.com/jbalogh/django-nose/pull/95 is fixed in git but not on PyPi
-e git+https://github.com/jbalogh/django-nose.git#egg=django-nose
